.WeatherTemp {
  margin-left: 40px;
  margin-top: 70px;
}

.temperature {
  font-size: 90px;
}

.unit {
  position: relative;
  top: -50px;
}

a {
  color: #c8a5a3;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}
